{% for item in pagination %}
    {% set commentsCnt = commentsCount(item) %}
    {% if loop.index0 is divisible by(4)%}
        <div class="col-md-12" style="padding-left: 0 !important;">
    {% endif %}
    <div class="item" {% if loop.index0 == 0%}
         style="margin-left: 0 !important; float:left !important;"
        {% endif %}>

        <div class="thumb">{% media item.excerptPhoto, 'excerpt' with {'class': 'centered img--auto d--b'} %}</div>
        

        <div class="text--30 text--bold black margin--halfb lh32"><a class="black" href="{{ path('ed_frontend_blog_single_article', { 'slug': item.slug }) }}">{{ item.title }}</a></div>

            <p class="text--mini app-grey">By <a href="{{ path('ed_frontend_blog_by_author', {'username': item.author.username}) }}">{{ item.author.blogDisplayName }}</a> on {{ item.publishedAt|blogDate}}
                {% if (item.categories|length) %}
                    in {%  for category in item.categories %}
                    {{ loop.index0 ? ', ' }}<a href="{{ path('ed_frontend_blog_by_category', {'categorySlug': category.term.slug}) }}" >{{ category.term.title }}</a>
                        {% endfor %}
                {% endif %}
                {% if ( is_granted('ACCESS_COMMENTS') and commentsCnt) %}
                    | <a class="black" href="{{ path('ed_frontend_blog_single_article', { 'slug': item.slug }) }}#comments">{{  commentsCnt }} comment{{  (commentsCnt > 1) ? 's' }}</a>
                {% endif  %}
            </p>


        <p class="margin--t">{{ item.excerptText|raw|trim }}</p>

    	  <a class="app-blue text--bold text--upper" href="{{ path('ed_frontend_blog_single_article', { 'slug': item.slug }) }}">Read more</a>
    </div>
    {% if loop.index is divisible by(4) %}
        </div>
    {% endif %}
{% endfor %}
