  <section id="top">
    <div class="trunk">
      <div id="social-count" class="fr">
        <ul>
          {% if app.user %}
            <a class="a" href="{{ path('ed_blog_homepage_index') }}">Admin panel</a>
            <a class="a" href="{{ path('fos_user_security_logout') }}">Logout</a>
          {% else %}
            <li class="a" data-link='{{ path('fos_user_security_login') }}'>
              <a class="white" href="{{ path('fos_user_security_login') }}">
              Se connecter</a>
            </li>
          {% endif %}
          <li class="a" data-link='{"url":"aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1Nwb3J0cy5mci8/ZnJlZj10cw==", "target": "_blank"}'>Facebook</li>
          <li class="a" data-link='{"url":"aHR0cHM6Ly90d2l0dGVyLmNvbS9zcG9ydHNfZnI=", "target": "_blank"}'>Twitter</li><!--
          <li class="a" data-link='{"url":"aHR0cHM6Ly9wbHVzLmdvb2dsZS5jb20vK3Nwb3J0c2Zy", "target": "_blank"}'>Google+</li>
        </ul>           
      </div>
      
    </div><!-- #top .trunk -->
  </section><!-- #top -->
  <nav id="ddmenu">
  <div class="logo2" title=""><img class="margin--rr semi-transparent-round" src="{{ asset('bundles/blog/img/svg/edblog-logo.svg') }}" alt="EdBlog"></div>

    <div class="menu-icon"></div>
    <ul>
      {%block navbar%}
        {% render(controller('BlogBundle:Frontend/Navbar:categoryList')) %}
      {%endblock%}
    </ul>
</nav>
  

<header role="banner" class="header--app">
	<nav class="flright visible-sm-block visible-md-block visible-lg-block">
    {% if app.user %}
      <a class="{% if currentPath == 'app_blog' or currentPath == 'ed_blog_frontend_index' %} active{% endif %}" href="{{ path('ed_blog_frontend_index') }}">Articles</a>
      <a class="" href="{{ path('ed_blog_homepage_index') }}">Admin panel</a>
      <a class="" href="{{ path('fos_user_security_logout') }}">Logout</a>
    {% else %}
      <a class="{% if currentPath == 'ed_blog_frontend_index' or currentPath == 'ed_blog_frontend_index' %} active{% endif %}" href="{{ path('ed_blog_frontend_index') }}">Articles</a>
      <a class="btn btn-primary white" href="{{ path('fos_user_security_login') }}">Login to access admin panel</a>
    {% endif %}
        <a href="{{ path('ed_blog_admin_feed', { 'type':  'rss' }) }}"><i class="fa fa-rss"></i> rss</a>
        <a href="{{ path('ed_blog_admin_feed', { 'type':  'atom' }) }}"><i class="fa fa-rss"></i> atom</a>
	</nav>
</header>

{# Menu on small devices #}
<div class="header--app small-res visible-xs-block">
  <a href="#" class="brdr--0 text--14 js-toggler"><i class="fa fa-reorder"></i> menu</a>
	<nav class="toggled">
    {% if app.user %}
      <a class="{% if currentPath == 'ed_blog_frontend_index'%} active{% endif %}" href="{{ path('ed_blog_frontend_index') }}">Articles</a>
      <a class="" href="{{ path('ed_blog_homepage_index') }}">Admin panel</a>
      <a class="" href="{{ path('fos_user_security_logout') }}">Logout</a>
    {% else %}
      <a class="{% if currentPath == 'ed_blog_frontend_index'%} active{% endif %}" href="{{ path('ed_blog_frontend_index') }}">Articles</a>
      <a class="btn btn-primary white" href="{{ path('fos_user_security_login') }}">Login to access admin panel</a>
    {% endif %}
	</nav>
</div>