{% if (categories|length) %}
    {% for children in categories %}
        <li class="exe_nav_main_li"><a href="{{ path('frontend_blog_by_category', {'categorySlug': children.term.slug}) }}">{{children.term.title}} </a>
            <div class="exe_nav_sub">
                <div class="exe_nav_sub_links">
                    <span class="exe_nav_sub_links_title">Recommended...!!!</span><br />
                    <ul>
                        {% for child in children.getChildren() %}
                            <li><a href="{{ path('frontend_blog_by_category', {'categorySlug': child.term.slug}) }}">{{child.term.title}}</a></li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="exe_nav_sub_hot">
                    <span class="exe_nav_sub_links_title">Trending Now...!!!</span><br />
                    <ul>
                        {{ render(controller('AppBundle:Frontend/Blog:byCategorytag', {'categorySlug': children.term.slug})) }}
                    </ul>
                </div>
            </div>
        </li>
    {%endfor%}
{%endif%}

