<section id="top">
    <div class="trunk">
      <div id="social-count" class="fr">
        <ul>
          {% if app.user and app.user.hasRole('ROLE_BLOG_USER') %}
            <li class="a" data-link='{{  url('sonata_admin_dashboard') }}'>
              <a class="white" href="{{  url('sonata_admin_dashboard') }}">
              Panel Admin</a>
            </li>
            <li class="a" data-link='{{ path('fos_user_security_logout') }}'>
              <a class="white" href="{{ path('fos_user_security_logout') }}">
              deconecter</a>
            </li>
          {% else %}
            <li class="a" data-link='{{ path('fos_user_security_login') }}'>
              <a class="white" href="{{ path('fos_user_security_login') }}">
              Se connecter</a>
            </li>
          {% endif %}
          <li class="a" data-link='{"url":"aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1Nwb3J0cy5mci8/ZnJlZj10cw==", "target": "_blank"}'>Facebook</li>
          <li class="a" data-link='{"url":"aHR0cHM6Ly90d2l0dGVyLmNvbS9zcG9ydHNfZnI=", "target": "_blank"}'>Twitter</li><!--
          <li class="a" data-link='{"url":"aHR0cHM6Ly9wbHVzLmdvb2dsZS5jb20vK3Nwb3J0c2Zy", "target": "_blank"}'>Google+</li>
        </ul>           
      </div>
      
    </div><!-- #top .trunk -->
</section><!-- #top -->
<div class="col-md-12">
  <div id="iefix">
    <div id="exe_nav_main">
      <ul id="exe_nav">
        <li class="exe_nav_main_li"><a href="{{ path('ed_blog_homepage')}}">ACCUEIL</a></li>
          {%block navbar%}
            {{ render(controller('BlogBundle:Frontend/Navbar:categoryList')) }}
          {%endblock%}
      </ul>
    </div>
  </div>
</div>
  
