<section id="top">
    <div class="trunk">
      <div id="social-count" class="fr">
        <ul>
          {% if app.user and app.user.hasRole('ROLE_USER') %}
            <li class="a" data-link='{{  url('sonata_admin_dashboard') }}'>
              <a class="white" href="{{  url('sonata_admin_dashboard') }}">
              Panel Admin</a>
            </li>
            <li class="a" data-link='{{ path('fos_user_security_logout') }}'>
              <a class="white" href="{{ path('fos_user_security_logout') }}">
              deconecter</a>
            </li>
          {% else %}
            <li class="a" data-link='{{ path('fos_user_security_login') }}'>
              <a class="white" href="{{ path('fos_user_security_login') }}">
              Se connecter</a>
            </li>
          {% endif %}
          <li class="a" data-link='{"url":"aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1Nwb3J0cy5mci8/ZnJlZj10cw==", "target": "_blank"}'>Facebook</li>
          <li class="a" data-link='{"url":"aHR0cHM6Ly90d2l0dGVyLmNvbS9zcG9ydHNfZnI=", "target": "_blank"}'>Twitter</li>
        </ul>           
      </div>
      
    </div><!-- #top .trunk -->
</section>
<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-header col-xs-12 col-sm-12">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ path('ed_blog_homepage')}}" class="navbar-brand col-xs-4" >
        <img src="{{ asset('bundles/blog/img/logo.jpg') }}" alt="logo" >
      </a>
    </div>
    <div class="col-xs-8 col-md-push-4 collapse navbar-collapse js-navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="exe_nav nav navbar-nav navbar-right">
      	<li><a href="{{ path('ed_blog_homepage')}}">ACCUEIL</a></li>
      	 {%block navbar%}
            {{ render(controller('BlogBundle:Frontend/Navbar:categoryList')) }}
          {%endblock%}
      </ul>
    </div>
</nav>
  
