{% if (events|length) %}
{% for event in events %}
  <div  class="col-md-12" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important;">
    <a href="{{ path('ed_blog_gp', { 'eventName': event.getName }) }}" style="min-width: 100%; min-height: 100%;">
        {% media event.countryPhoto, 'excerpt' with {'class': ' mz_sidebar_event_main col-md-4 nwLogo', 'style':'height:20px; float : left;'} %}

      <p>
        {{ event.getName()}}
      </p>
    </a>
  </div>
  {% set btime = 0 %}

  {% for child in event.getChildren() %}
      {% set type =  'course' %}
      {% if child.getArticle() %}
        {% set type =  'essai' %}

      {% endif %}
      <a href="{{ path('ed_blog_course', { 'eventName': child.getName(), 'parent': event.getName(), 'slug': child.getId(), 'type' : type }) }}" style="min-width: 100%; min-height: 100%;">
      {% if (child.getStartsAt|  date("d"))  != btime %}
        {% set btime = (child.getStartsAt|  date("d")) %}
        <div  class="col-md-12" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important;background-color:Grey;text-align:center;background-color:Grey">
            {{ child.getStartsAt|  blogDate }} 
        </div>
      {% endif %}
        <div class="col-md-12" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important;background-color:Grey;text-align:center;background-color:Grey">
            <div class="col-md-4">
               {{ child.getStartsAt|  date('h:i:s') }}
            </div>
            <p>{{ child.getName()}}</p>
        </div>
      </a>
  {% endfor %}
{% endfor %}
{% endif %}
