{% if (events|length) %}
{% for event in events %}
  <div  class="col-md-12" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important;">
    <a href="{{ path('ed_blog_gp', { 'eventName': event.getName }) }}" style="min-width: 100%; min-height: 100%;">
      <div  class="col-md-4" style="text-align:center;">
        {{ event.getStartsAt|date("d/m") }}
      </div>
      <div id="mz_sidebar_event_main" class="col-md-8">
        <div style="text-align:center;min-height:50% !important; max-height:50% !important;background-color:Black;">
        {{ event.getName()}}
        </div>
      </div>
    </a>
  </div>
  {% for child in event.getChildren() %}
      <a href="{{ path('ed_blog_course', { 'eventName': child.getName(), 'parent': event.getName(), 'slug': child.getId() }) }}" style="min-width: 100%; min-height: 100%;">

        <div  class="col-md-12" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important;background-color:Grey;text-align:center;background-color:Grey">
            {{ child.getStartsAt|  date("d") }}
            {{ child.getDay(child.getStartsAt) }}
        </div>
        <div class="col-md-12" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important;background-color:Grey;text-align:center;background-color:Grey">
            {{ child.getName()}}
        </div>
      </a>
  {% endfor %}
{% endfor %}
{% endif %}
