  
{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
  {{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
      <div id="col1" class="col c1 c-first">
        <article id="main-content">
          <div class="col-md-12" style="width:100%; height: 400px; padding: 0 0 0 0;  margin : 0 0 0 0;">
            
            <img class="img-div" src="{% path event.article.excerptPhoto, 'excerpt' %}" alt="">
          </div>

          <div class="text--30 text--bold black margin--tx4 margin--halfb lh32"><h1>{{ event.article.title|capitalize }}</h1></div>

          <p class="text--mini app-grey">Publié le <a href="{{ path('ed_frontend_blog_by_author', {'username': event.article.author.username}) }}">{{ event.article.author.blogDisplayName }}</a> le {{ event.article.publishedAt|blogDate}}
            {% if (event.article.categories|length) %}
            in {%  for category in event.article.categories %}
                 {{ loop.index0 ? ', ' }}<a href="{{ path('ed_frontend_blog_by_category', {'categorySlug': category.term.slug}) }}" >{{ category.term.title }}</a>
               {% endfor %}
            {% endif %}
            {% if ( is_granted('ACCESS_COMMENTS') and commentsCnt) %}
              | <a href="#comments">{{  commentsCnt }}</a> comment{{  (commentsCnt > 1) ? 's' }}
            {% endif  %}
          </p>

          {% if (event.article.tags|length) %}
            <p class="text--mini app-grey"><i class="fa fa-tags"></i>
            {% for tag in event.article.tags %}
              <a href="{{ path('ed_frontend_blog_by_tag', {'tagSlug': tag.term.slug}) }}">{{ tag.term.title }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
          {% endif  %}

          <p>{{ event.article.content|raw }}</p>
          <div class="nwTable nwClub">
              <img alt="" class="nwLogo" src="{% path event.excerptPhoto, 'crop' %}">
              <h1><span>{{event}}</span></h1>
              <div class=" col-md-12" style="margin-top: 15px;">

                  <div class="nwTable col-md-6">
                    <h1>
                      <p>
                         Classement par Pilote 
                      </p>
                    </h1>
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Meilleur Temps</th>
                        <th>Rang</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for rank in event.getClassement() %}
                        <tr>
                          {% set team = rank.getPilot() %}
                          {% if  team  %}
                            <td>{{ team.firstName }}</td>
                            <td>{{ team.lastName }}</td>
                            <td>{{ rank.time |date("d/m")}}</td>
                            <td>{{ rank.getRank() }}</td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="nwTable col-md-6">
                    <h1>
                      <p>
                         Classement par Equipe 
                      </p>
                    </h1>
                  </div>
                  <table class="table table-bordered" >
                    <thead>
                      <tr>
                        <th>Nom</th>
                          <th>Pilot1</th>
                          <th>Pilot2</th>
                        <th>Rang</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% for rank in event.getClassement() %}
                          {% set team = rank.getTeam() %}
                          {% if  team  %}
                            <td>{{ team }}</td>
                            {% set test = 0 %}
                            {% for pilot in  team.getPilots()  %}
                              <td>{{ pilot }}</td>
                              {% set test = loop.index0%}
                            {% endfor %}
                            {% if not test%}
                              <td></td>
                            {% endif %}
                            <td>{{ rank.getRank() }}</td>
                          {% endif %}
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>
                  
              </div>
        </div>
      </article>
    </div>    
  {% endblock container %}
{% endblock main %}






  