  
{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
  {{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
      <div class="col-md-12">
        <article id="main-content">
          <div class="nwTable col-md-12">
            <h1>
              <p>
                {{event}}
              </p>
            </h1>
            {% media event.excerptPhoto, 'excerpt' with {'class': 'nwLogo', 'style':'height:140px;width:190px;'} %}
          </div>
          <div class="col-md-6" style="margin-top: 15px;">
            <h1>
              <p>
                Commentaires en direct
              </p>
            </h1>
            <div class="tab-content col-md-12">
              <div id="menu1" class="tab-pane fade">
                {% for comment in event.getComments %}
                  <div class="col-md-10">
                    {{ comment.comment }}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-6" style="margin-top: 15px;">
            <h1>
              <p>
                Classement en direct
              </p>
            </h1>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Rang</th>
                  <th>Pilote</th>
                  <th>Equipe</th>
                  <th>Temps</th>
                </tr>
              </thead>
              <tbody>
                {% set ev = null %}
                {% for child in event.getChildren()%}
                  {% if "course" in child|lower %}
                    {% set ev = child %}
                  {% endif %}
                {% endfor %}
                  {% for pilot in ev.getPilots()%}
                    <tr class="alt">
                      <td class="tr bl"><b>{{pilot.rank}}</b></td>
                      <td nowrap="">
                        {{ pilot}}
                      </td>
                      <td class="tc classAuto">
                        <b>
                          {{ pilot.getPilot }}
                        </b>
                      </td>
                    </tr>
                  {% endfor %}
              </tbody>
            </table>                  
          </div>
        </article>
      </div>
      
    {% endblock container %}
{% endblock main %}






  