{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
	{{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
		{% include "BlogBundle:Frontend/Blog:blogBreadcrumb.html.twig" %}
		<div class="col-md-12" style="padding-top : 5px;">
			{% for item in pagination %}
				<div class="item">
					<a class="black" href="">
						<div class="thumb">
							{% media item.excerptPhoto, 'excerpt' with {'class': 'centered img--auto d--b', 'style':'height:140px;width:190px;'} %}
						</div>
						<h1 style=" text-align:center;color:black;"> {{item|capitalize }}</h1>
						<ul>
							{% for pilot in item.getPilots() %}	
								<li>
									<a href="/">{{pilot}}</a>
								</li>
							{% endfor %}
						</ul>
					</a>
				</div>
			{% endfor %}
			{{ knp_pagination_render(pagination) }}
		</div>
    {% endblock container %}
{% endblock main %}

{% block foot %}
	
	<footer class="footer">
      <div class="container col-md-12" style="padding:0 0 0 0;">
      	<div class="col-md-6 text--mini app-grey">Equipes de Formule 1 © {{ "now"|date("Y") }}</div>
		<div class="col-md-6  text--mini app-grey" style="float:right">Contacts: ©</div>
      </div>
    </footer>
{% endblock foot %}


